html
    head
        title Тайтл
        meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
        script var group = { name: "#{group.name}", avatar: "#{group.photo_200}", wallet: #{group.wallet}, group_id: "#{group.group_id}", description: "#{group.description}" }
        script(src="https://vk.com/js/api/xd_connection.js?2" type="text/javascript")
        script.
            VK.init(function() { 
                
            }, function() { 
                console.log('API INIT FAILURE')
            }, '5.60'); 
        script var user = { isAdmin: #{user.isAdmin}, user_id: #{user.user_id}, token: "#{user.token}" }
        script try { var latestIncomes = JSON.parse("#{latestIncomes}".replace(new RegExp('&quot;', 'g'), '"')) } catch(e) {}
        script try { var largestIncomes = JSON.parse("#{largestIncomes}".replace(new RegExp('&quot;', 'g'), '"')) } catch(e) {}
        script try { var users = JSON.parse("#{users}".replace(new RegExp('&quot;', 'g'), '"')) } catch(e) {}
        script var stats = JSON.parse("[#{stats}]".replace(new RegExp('&quot;', 'g'), '"'))
    body
        #app
        if app.get('env') == 'production'
            script(src=`/public/dist${app.get('assets').main.js}`)
        if app.get('env') == 'development'
            script(src='//localhost:3031/index.js')
