html
    head
        title Тайтл
        meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
        script var group = { name: "#{group.name}", avatar: "#{group.photo_200}", wallet: #{group.wallet}, group_id: "#{group.group_id}", description: "#{group.description}" }
        script.
          (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter41239369 = new Ya.Metrika({ id:41239369, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks")
        script(src="https://vk.com/js/api/xd_connection.js?2" type="text/javascript")
        script.
            VK.init(function() { 
                
            }, function() { 
                console.log('API INIT FAILURE')
            }, '5.60'); 
        script var user = { isAdmin: #{user.isAdmin}, user_id: #{user.user_id}, token: "#{user.token}" }
        script try { var latestIncomes = JSON.parse("#{latestIncomes}".replace(new RegExp('&quot;', 'g'), '"')) } catch(e) {}
        script try { var largestIncomes = JSON.parse("#{largestIncomes}".replace(new RegExp('&quot;', 'g'), '"')) } catch(e) {}
        script try { var users = JSON.parse("#{users}".replace(new RegExp('&quot;', 'g'), '"')) } catch(e) {}
        script var stats = JSON.parse("[#{stats}]".replace(new RegExp('&quot;', 'g'), '"'))
    body
        #app
        if app.get('env') == 'production'
            script(src=`/public/dist${app.get('assets').main.js}`)
        if app.get('env') == 'development'
            script(src='//localhost:3031/index.js')
